/* tyylitiedosto koko sivustolle */

/* fonttien tuonti */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Work+Sans:wght@400;600&family=Lato:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
  

/* perusbodytyyli */
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif; /* perusfontti, jos ei määritelty */
    margin: 0;
    padding: 0;
    background-color: #F0EDE5; /* vaalea beige */
    color: #4B4B3E; /* tumma oliivi */
}

h2 {
    font-size: 2rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: #5A5A44;
}

h2 i {
    color: #C6A57B;
    margin-right: 10px;
}


/*  logon tyylit  */

.logo {
    overflow: hidden;
    text-align: center;
    padding: 4% 0;
    height: 20vw; /* viewport width, 20 pros */
}

.logo img {
    height: 100%;
    width: auto;
    transition: transform 0.9s ease; /* pikkunen skaalaus */
}

.logo img:hover {
    transform: scale(1.05); /* pikkunen skaalaus */
}


main {
    min-width: 350px; /* käyttää mielummin skaalausta pienille näytöille */
}


/* footeri */
footer {
    background-color: #4B4B3E; /* tumma oliivi */
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: #F0EDE5; /* vaalea beige */
    text-align: center;
    padding: 2rem;
}


/*  #####################################   */

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #6C7753; /* vaalea oliivi */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 7vh; /* navin korkeus 7pros */
    position: sticky; /*jää yläreunaan */
    top: 0;
    z-index: 1000;
}

/* navin linkit linkkipalkkiin siististi */
.nav-links {
    display: flex;
    justify-content: space-around;
}

/* navin linkkien muotoilu */
nav a {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    color: #F0EDE5; /* vaalea beige */
    font-size: 1.8vw;
    font-weight: 700; /* boldaus */
    margin: 0 15px; /* sivuille tilaa */
    text-decoration: none;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    background-image: none; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* transition: background-image 0.9s ease, color 0.9s ease;  */
}

nav a.hover-effect:hover {
    color: #DFD3B5; /* tummempi beige */
    background-image: url('./merkki.svg'); /* hoverimage */
    opacity: 0.5;
}
    
/* hampparin muotoilu */
.menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #F0EDE5; /* vaalea beige */
    margin-left: 1rem;
}

/* navi pienelle näytölle */
.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #6C7753; /* vaalea oliivi */
    overflow: hidden;
    /* transition: width 0.3s; */
    flex-direction: column;
    align-items: center;
    padding-top: 2rem; /* verrattuna bodyyn */
    z-index: 1001;
}

.mobile-menu a {
    display: block;
    margin: 1rem 0; /* verrattuna bodyyn */
    color: #F0EDE5; /* vaalea beige */
    text-decoration: none;
    font-size: 1.2rem;
}


/* ### ETUSIVU ### */


section#etusivu {
    background-image: url('./hero.JPG');
    background-size: cover;
    background-position: center;
    position: relative;
    color: #ffffff;
}

/* nappi */
button {
    background-color: #8FB0A9; /* sinivihreä */
    color: #F0EDE5; /* vaalea beige */
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* pyöristetty */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #C6A57B; /* lämmin beige */
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* koko sivun levyiset sectionit */
section {
    padding: 5%;
    border-bottom: 1px solid #ddd; /* lähes valkoinen */
}

/* joka toinen eri värinen */
section:nth-child(odd) {
    background-color: #F9F5EC; /* lämmin valkoinen */
}

section#etusivu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 78, 68, 0.5); /* tummennus taustakuvalle */
    z-index: 1;
}

section#etusivu * {
    position: relative;
    z-index: 2;
}

/* ### ESITTELY ### */

#esittely {
    padding: 5%;
}

.intro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
    height: auto;
    /* gap: 40px; */
    /* position: relative; */
}

.intro-image {
    width: 50%; /* vain puolikas sivullinen */
    height: auto;
    flex: 1;
    /* position: relative; */
    z-index: 1;
}

.profile-picture {
    width: 95%;
    padding: auto;
    object-fit: cover; /* kuva leikkautuu */
    border-radius: 10px; /* pyöristetty kulma */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    /* position: relative;
    z-index: 2; */
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%; /* puolikas */
    height: auto;
    flex: 1.5;
    background-color: #fff; /* valkoinen */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 0;
    /* margin-left: -100px; overlaps the image */
    font-family: 'Work Sans', sans-serif;
}

.intro-text h3 {
    font-family: 'Montserrat', sans-serif;
    color: #5A5A44; /* vaalea ruskea */
}


/* ### PALVELUT ### */
.services-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background-color: #ffffff; /* valkoinen */
    border-radius: 10px; /* pyöristetty kulma */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    flex: 1;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: 200px; /* kovakoodattu */
    object-fit: cover; /* leikkaa taustakuvan laatikkoonsa */
    border-radius: 10px; /* pyöristetty reuna */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* ### HINNASTO ### */
#hinnasto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table thead {
    text-align: left;
}

/* Pricing Table Styling */
/* .price-table { 
    width: 100%;
    max-width: 900px; 
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden; 
} */

/* .price-table th,
.price-table td {
    padding: 15px 20px;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
} */

/* .price-table th {
    background-color: #6C7753; /* Olive tone
    color: #F0EDE5;
    font-size: 1.2rem;
    font-weight: 600;
} */

/* .price-table td {
    border-bottom: 1px solid #ddd;
    font-size: 1.1rem;
    color: #4B4B3E; /* Deep Olive Green
} */

/* .price-table tr:nth-child(even) {
    background-color: #F9F5EC;
}

.price-table tr:last-child td {
    border-bottom: none;
} */

/* hr {
    border: none;
    border-top: 3px double #8FB0A9;
    width: 70%;
    margin: 20px auto;
} */



/* 
 _______________
|               |
| contact form  |
|_______________|

*/


/* Contact Table Styled Like the Pricing Table */
    /* Container for table */
.table-container {
    text-align: center;
}

.contact-table, .price-table {
    width: 100%; 
    /* max-width: 900px;  */
    /* margin: 0 auto; */
    border-collapse: collapse;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}


.price-table th,
.price-table td, 
.contact-table th,
.contact-table td {
    padding: 15px 20px;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1rem;
    color: #4B4B3E;
}

.contact-table th, .price-table th {
    background-color: #6C7753; 
    color: #F0EDE5;
    font-size: 1.2rem;
    font-weight: 600;
}

.contact-table td, .price-table td {
    border-bottom: 1px solid #ddd;
}

.contact-table tr:nth-child(even), .price-table tr:nth-child(even) {
    background-color: #F9F5EC; 
}

.contact-table tr:last-child td, .price-table tr:last-child tr:last-child td {
    border-bottom: none;
} */




/*   __________________________
|                           |
|  Contact Form Container   | 
|___________________________|   

*/
    .contact-container {
        max-width: 700px;
        margin: 50px auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* Form Title */
    .contact-container h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.3rem;
        font-weight: 600;
        color: #5A5A44;
        text-align: center;
        margin-bottom: 20px;
    }

    /* Form Fields */
    .contact-container label {
        font-size: 1.1rem;
        margin-bottom: 10px;
        display: block;
    }

    .contact-container input,
    .contact-container textarea {
        width: 95%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1rem;
    }

    .contact-container input:focus,
    .contact-container textarea:focus {
        outline: none;
        border-color: #C6A57B; /* Focus color */
    }

    /* Flexbox styling for the radio group */
    .radio-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .radio-group label {
        font-size: 1.1em;
        margin-right: 10px;
        display: flex;
        justify-content: center;
    }

    .radio-group input[type="radio"] {
        margin-right: 8px;
    }

    /* Submit Button */
    .contact-container button {
        background-color: #8FB0A9;
        color: #ffffff;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        transition: background-color 0.3s ease;
    }

    .contact-container button:hover {
        background-color: #C6A57B;
    }



    /*   _______________________
        | Thank you container   |
        |_______________________|*/

    .thank-you-container {
        text-align: center;
        margin-top: 50px;
    }
    
    .thank-you-container h2 {
        color: #5A5A44; 
        font-size: 2rem;
    }
    
    .thank-you-container p {
        font-size: 1.1rem;
        line-height: 1.6;
    }
    
    .thank-you-container a {
        color: #8FB0A9;
        text-decoration: underline;
        font-weight: bold;
    }


    /*   _______________________
        |   comparison table    |
        |_______________________|*/
    
    
.comparison-table {
    /* width: 100%;
    max-width: 800px; */
    /* margin: 20px auto; */
    border-collapse: collapse;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.comparison-table th, .comparison-table td {
    padding: 12px 15px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    border-bottom: 1px solid #ddd;
}

.comparison-table th {
    background-color: #6C7753; /* Olive tone */
    color: #F0EDE5;
    /* font-size: 1.2em; */
}

.comparison-table td {
    color: #4B4B3E; /* Deep Olive Green */
}

.comparison-table .tooltip {
font-size: 0.9em;
color: #6C7753;
}

.comparison-table .checkmark {
    color: #4CAF50; /* Green check mark */
}

.comparison-table .not-included {
    color: #A0A0A0; /* Light grey for subtle contrast */
    font-style: italic; /* Optional italic for visual interest */
    text-align: center; /* Center-align the dash */
    font-size: 1em;
}



.tooltip {
    position: relative;
    cursor: pointer;
    color: #6A6A6A; /* Optional color for (?), can change based on design */
    font-weight: bold;
    text-decoration: none;
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 0.9rem;
    white-space: nowrap;
    bottom: 100%; /* Position tooltip above the icon */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 10;
}

/* Ensure tooltip stays within the viewport */
.tooltip[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
}

/* Adjust for right side boundaries */
.tooltip[data-tooltip]:hover::after {
    left: auto; /* Reset left positioning */
    right: 0; /* Align to the right edge if near boundary */
    transform: translateX(0); /* Reset centering */
}




/* Style for example list */
.example-list {
        list-style-type: disc;
        list-style-position: inside; /* Aligns dots with text */
        padding-left: 2rem; /* Adds space to left of list */
        margin-top: 1rem;
    }

.example-list li {
    padding: 2px 0; /* Space between items */
    font-size: 1.0rem;
    line-height: 1.6;
    color: #4B4B3E;
}

/* Custom color for list dots */
.example-list li::marker {
    color: #8FB0A9; /* Muted Green */
}










        /* 
         ___________________
        |                   |
        |     @Scaling      |
        |___________________|
        
        */

@media screen and (max-width: 850px) {

    nav .nav-links {
        display: none; /* Hide the nav links */
    }
    .menu-icon {
        display: block; /* Show the menu icon */
    }



    .services-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


    .contact-table th, .contact-table td, .price-table th, .price-table td {
        font-size: 0.7em;
        padding: 1vw 1vw;
        text-align: left;
    }
    .contact-container h2 {
         font-size: 1.5em;
    }
    .radio-group {
        font-size: 0.5em;
    }



    .comparison-table th, .comparison-table td {
        font-size: 0.7em
    }
}

@media screen and (max-width: 380px) {
    .comparison-table td {
        font-size: 0.6em
    }
}



/* Open the sliding menu */
.mobile-menu.open {
    display: block;
    width: 250px; /* Adjust the width as desired */
    text-align: center;
}
    